/* ################################## Global styles ################################## */

:root {
  --color-1: #f5f5db;
  /* Pale Beige */
  --color-2: #6495ED;
  /* Soft Blue */
  --color-3: #d3d3d3;
  /* Pale Gray */
  --color-4: #8fbc8f;
  /* Sage Green */
  --color-5: #d8bfd8;
  /* Dusty Rose */
  --font-1: 'Playfair Display', serif;
  --font-2: 'Lato', sans-serif;
}

.tempBackground {
  background-color: var(--color-3);
}

.title {
  font-size: 40px;
  font-family: var(--font-1)
}

.body {
  font-size: 18px;
  font-family: var(--font-2);
}

.botPad {
  margin-bottom: 20px;
}

.App {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

/* ################################## Page styles ################################## */

/* details page styles */

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
}

.gridItem {
  padding: 30px;
}

.prodImg {
  padding: 10px;
  height: 30rem;
}

.prodImgs {
  margin-top: 50px;
  width: min-content;
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: calc(100vh + 20vh);
}

.miniProdImg {
  width: 8rem;
  margin: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.miniProdImgs {
  position: sticky;
  top: 0;
}

.detailsContainer {
  display: flex;
  width: fit-content;
}

.detailsContainer .header h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.detailsContainer .header p {
  font-size: 2rem;
}

.prodDescription p {
  margin-top: 30px;
  font-size: 18px;
  text-align: start;
  padding: 10px;
}

#size button {
  width: 8rem;
  height: 3rem;
}

.specs {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 425px) {

  .miniProdImg {
    display: none;
  }

  .grid {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* About  styles */

#aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
}

#aboutPage h1 {
  padding-bottom: 50px;
}

/* home styling */

.homeIconContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
  flex-wrap: wrap;
}

.homeCoffeeSection,
.homeMerchSection {
  margin: 30px 0;
}

/* Merch styles */

#merchPage {
  height: fit-content;
}

#merchBackground a {
  font-size: x-large;
}

#totalMerchContainer {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
  flex-wrap: wrap;
}

/* Menu Styles */

#menuPage {
  display: grid;
  grid-template-rows: 1fr .5fr .5fr;
  gap: 20px;
}

#menuWelcomeSection {
  background-color: var(--color-1);
  margin: 20px;
  display: flex;
  padding: 2vw;
  padding-left: 6vw;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: left;
  min-height: 100%;
}

#menuTitleImg1 {
  background-color: rgba(0, 0, 0, 0.485);
  width: 50vw;
  height: 30vw;
  margin-left: 3vw;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 35px;

}

#menuTitleImg2 {
  position: absolute;
  right: 15vw;
  background-color: rgba(0, 128, 0, 0.356);
  width: 30vw;
  height: 45vw;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 35px;
}

.menuWelcome1Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#menuFlex1 {
  display: flex;
  flex-direction: column;
}

#menuWelcomMsg {
  align-self: flex-start;
}

#mm2 {
  margin-left: 10vw;
}

#mm3 {
  margin-left: 20vw;
}

.menuOptions {
  margin: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menuOption {
  display: flex;
  min-width: 150px;
  margin: 10px;
  width: 25%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.menuTitleSection {
  margin-bottom: 40px;
}

#menuDisclaimerSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#menuFoodSection,
#menuDrinkSection {
  margin: 30px 0;
}

@media screen and (max-width: 600px) {
  .menuOptions {
    align-items: center;
    justify-content: center;
    margin: 0 30vw;
  }
}

/* Products styles */

#productsPage {
  margin: 20px 0;
}

#productsWelcomeContainer {
  display: flex;
  padding: 7vw;
  margin: 20px 0;
}

#productsAccentDiv {
  position: relative;
  bottom: 3vw;
  left: 15vw;
  width: 40vw;
  height: 30vw;
  background-color: var(--color-1);
}

#productWelcomeMsg {
  position: relative;
  font-family: var(--font-1);
  right: 10vw;
}

#welcomeImg {
  width: 40vw;
  height: 30vw;
  background-color: var(--color-3);
  position: relative;
  right: 8vw;
}

#productsSection {
  padding: 20px;
  /* background-color: var(--color-1); */
}

#productSelectorContainer button {
  margin: 20px;
}

#productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Success styles */

/* FAQ styles */

#faqWelcome {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accentLine {
  margin: 15px;
  width: 25%;
  border-bottom: 1px solid black;
}

.questionContainer {
  background-color: var(--color-1);
  padding: 10px;
  margin: 15px 40px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 25px;
  font-family: var(--font-1);
}

.answer {
  font-size: 20px;
}

#faqFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#faqLogo {
  width: 150px;
}

/* ################################## Component styles ################################## */

/* Nav bar styling */

.hat-logo {
  height: 5vh;
  object-fit: contain;
  margin-bottom: 10px;
}

#navbar {
  height: 15vh;
  width: 100%;
  background-color: var(--color-1);
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  /* border-bottom: 2px solid black; */
}

.logo {
  display: flex;
  align-items: center;
}

#itemsInCart {
  background-color: red;
  position: absolute;
  top: -8px;
  right: -8px;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#cartButton {
  cursor: pointer;
}

#profile svg {
  width: 3rem;
  height: 3rem;
}

#navSelect {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.navLink {
  color: black;
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  font-size: xx-large;
}

.btn {
  letter-spacing: .2em;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  width: auto;
  line-height: 1.42;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 14px 22px;
  min-width: 90px;
  border-radius: 35px;
  background: #a11100;
  transition: background .15s ease;
}

.btn a {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  color: #fff;

}

.logo p {
  font-size: 30px;
  padding: 0;
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2);
  }
}

@media screen and (max-width: 425px) {

  .hat-logo {
    display: none;
  }

  #navbar {
    position: sticky;
    top: 0;
  }
}


.navbar-toggler {
  width: 3rem;
  height: 3rem;
}

/* footer styles */
.navFooter {
  display: flex;
  justify-content: space-evenly;
}

#socialsContainer {
  font-size: large;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* newsLetter styles */

#newsLetter {
  padding: 40px 0;
  background-color: beige;
}

#inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#emailInput {
  width: 60%;
  height: 5rem;
  border-radius: 35px;
}

#signUp {
  height: 4.8rem;
  cursor: pointer;
  position: relative;
  right: 90px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: none;
}

@media screen and (max-width: 425px) {

  /* newsletter mobile styling */
  .newsLetter p {
    font-size: 13px;
  }

  #emailInput {
    position: relative;
    left: 3%;
    width: 90%;
    height: 5rem;
    font-size: 18px;
  }

  #signUp {
    height: 4.8rem;
    cursor: pointer;
    position: relative;
    min-width: 50px;
    right: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

/*  Icon styling  */
.iconContainer {
  border-radius: 35px;
  min-height: 350px;
  cursor: pointer;
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
  color: #111;
  text-decoration: none;
  width: 20vw;
  min-width: 230px;
  padding: 0 10px;
}

.itemMeta {
  text-decoration: none;
  color: black;
}

.iconContainer img:hover {
  transform: scale(1.1);
}

.iconContainer img {
  transition: transform 0.3s ease-out;
  max-width: 25rem;
  width: 70%;
  padding: 20px;
  height: 70%;
  border-radius: 25px;
  min-width: 211px;
  min-height: 211px;
  position: relative;
}

.outOfStockOverlay {
  background-color: rgba(128, 128, 128, 0.367);
  border-radius: 35px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 997;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outOfStockBanner {
  background-color: red;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 10px;
  width: fit-content;
}

.disabled-link {
  pointer-events: none;
}

@media screen and (max-width: 425px) {}

/* locations styles */
.infoContainer {
  padding: 0 20px;

  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9a6755d;
  min-height: 300px;
}

/* Charities styles */
.charitiesContainer {
  padding: 0 20px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  text-align: start;
  background-color: #c9a6755d;
  min-height: 300px;
}

/* scroller styles */

.titleLink {
  background-color: #fad018;
  position: absolute;
  right: -6px;
  bottom: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  color: #111;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  height: auto;
  line-height: 30px;
  padding: 9px 30px;
  border-radius: 0;
}

.announcment {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: opacity 0.3s ease-out, transform 0.7s ease-out;
  animation: easeInFromLeftAnimation 1s ease-in-out;
  width: 40%;
  position: absolute;
  top: 40%;
  background-color: rgba(255, 255, 255, 0.855);
  max-width: fit-content;
}

.announcment h2 {
  margin-bottom: 20px;
  padding-top: 20px;
}

.announcment p {
  padding: 0 20px 72px 20px;
}

.carousel-item {
  width: 100%;
}

.titleImgs {
  margin: auto;
  height: 80vh;
  width: 90%;
  background-size: cover;
  background-position: center;
  animation: zoomin 5s 1;
  animation-fill-mode: forwards;
}

.titleImgs.active {
  animation: zoomin 7s 1;
  animation-fill-mode: forwards;
}

@keyframes zoomin {
  from {
    transform: scale(.97);
  }

  to {
    transform: scale(1);
  }
}

@keyframes easeInFromLeftAnimation {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}